<!-- {% extends 'base.html' %} -->


<!-- {% block content %} -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/signin.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/">
            <button class="close-button">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </a>
        <a class="logo" href="/">
            <i class="fa-solid fa-dumbbell" style="color: #ff2f0af3;"></i>
        </a>
      </div>

      <div class="content">
        <h1>Sign Up for L1FT</h1>

        <form action="{{ url_for('auth.signup') }}" method="POST">
          {{ form.hidden_tag() }}

          <div class="name-fields">
            <div class="first-name">
              {{ form.first_name.label }}
              {{ form.first_name(placeholder="First Name") }}
            </div>

            <div class="last-name">
              {{ form.last_name.label }}
              {{ form.last_name(placeholder="Last Name") }}
            </div>
          </div>

          <div class="username-field">
            {{ form.username.label }}
            {{ form.username(placeholder="Username") }}
          </div>

          <div class="email-log-in">
            {{ form.email.label }}
            {{ form.email(placeholder="Email") }}
          </div>

          <div class="pw-log-in">
            <div class="password-field">
              {{ form.password.label }}
              {{ form.password(placeholder="password") }}
            </div>

            <div class="confirm-password-field">
              {{ form.confirm_password.label }}
              {{ form.confirm_password(placeholder="password") }}
            </div>
          </div>

          <div class="action-buttons">
            <!-- <button class="primary-button" type="submit">{{ form.submit.label }}</button> -->
            <button class="primary-button" type="submit">Sign Up</button>
          </div>
        </form>
      </div>

      <div class="sign-up">
        <p>Already have an account? <a href="/signin">Log in</a></p>
      </div>
    </div>
  </body>
</html>

<!-- {% endblock content %} -->