{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="row mt-5 mb-5 p-5 shadow rounded border border-primary w-75">
        <div class="col">
        <h1>The Vault</h1>
        <form action="{{ url_for('site.search') }}" method="POST">
            <label for="body_part">Search by Muscle Group:</label>
            <select name="body_part" id="body_part">
                    <option value="">Muscle Group</option>
                    <option value="back">Back</option>
                    <!-- <option value="cardio" {% if selected_body_part == 'cardio' %}selected{% endif %}>Cardio</option> -->
                    <option value="chest">Chest</option>                    
                    <option value="upper arms">Upper Arms</option>
                    <option value="lower arms">Lower Arms</option>
                    <option value="upper legs">Upper Legs</option>
                    <option value="lower legs">Lower Legs</option>
                    <option value="neck">Neck</option>
                    <option value="shoulders">Shoulders</option>
                </select>

                <label for="equipment">Search by Equipment:</label>
                <select name="equipment" id="equipment">
                    <option value="">Equipment</option>
                    <option value="barbell">Barbell</option>
                    <option value="body weight">Body Weight</option>
                    <option value="cable">Cable</option>
                    <option value="dumbbell">Dumbbell</option>
                    <option value="ez barbell">EZ Barbell</option>
                    <option value="hammer">Hammer</option>
                    <option value="kettlebell">Kettlebell</option>
                    <option value="leverage machine">Leverage Machine</option>
                    <option value="olympic barbell">Olympic Barbell</option>
                </select>
            <button type="submit">Search</button>
        </form>
        </div>
    {% if exercises %}
        <h2>Exercises</h2>
        <ul>
            {% for exercise in exercises %}
                <li>
                    <form action="{{ url_for('site.add_workout', id=exercise.id, name=exercise.name, body_part=exercise.bodyPart, equipment=exercise.equipment, target=exercise.target, gif_url=exercise.gifUrl) }}" method="POST">
                        {{ form.hidden_tag() }}
                        <strong>Name:</strong> {{ exercise['name'] }}<br>
                        <strong>Body Part:</strong> {{ exercise['bodyPart'] }}<br>
                        <strong>Equipment:</strong> {{ exercise['equipment'] }}<br>
                        <img src="{{ exercise['gifUrl'] }}" alt="Exercise GIF"><br>
                        <strong>ID:</strong> {{ exercise['id'] }}<br>
                        <strong>Target:</strong> {{ exercise['target'] }}<br>
                        <!-- <strong>Secondary Muscles:</strong> {{ exercise['secondaryMuscles'] }}<br> -->
                        <strong>Instructions:</strong> {{ exercise['instructions'] }}<br>
                        <input type="hidden" name="exercise_ids" value="{{ exercise['id'] }}">
                        {{ form.sets.label }}
                        {{ form.sets(class='form-control mt-2') }}
                        {{ form.reps.label }}
                        {{ form.reps(class='form-control mt-2') }}
                        <!-- {{ form.submit }} -->
                        <button type="submit" class="card-link btn btn-warning">Add To Workout</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
    {% endif %}
{% endblock %}
